<div class="task-header">
<h2>Tasks</h2>
<button class="btn btn-block" (click)="newForm = !newForm">New Task</button>
</div>
<hr />
<div *ngIf="newForm" style="margin-bottom: 30px;">
  <app-task-form [save]="addNewTask" [type]="formType"></app-task-form>
</div>
<div>
  <ul class="tasks">
    <li *ngFor="let task of tasks" (click)="viewTask(task.id)" [ngClass]="{'prio-high': task.prio == 'High', 'prio-med': task.prio == 'Medium', 'prio-low': task.prio == 'Low'}">
      <div>
        <span class=""></span>
      {{ task.title }}
    </div>
      <div class="Actions">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </div>
    </li>
  </ul>
</div>
